body {
	margin:0;
	padding:0;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* === Map === */

#map {
	position: relative; 
	top: 0; 
	left: 0; 
	height: 500px; 
	margin-bottom: 20px;
}

#unsupported-message
{
	width: 100%;
	height: 100%;
	background-color:#333;
	color:#bbb;
	font-size:30px;
	text-align: center;
	margin:0;
	padding:0;
	line-height: 400px;
	display:none;
}

.not-supported #unsupported-message
{
	display: block;
}

/* === Presets Menus === */

#presets
{
	margin: 15px 0px 15px 31px;
	display: table;
}

#presets .label,
#presets .options
{
	display: table-cell;
	height: 100%;
	line-height:20px;
}

#presets .label
{
	font-weight:700;
}

#presets ul
{
	color:#aaa;
	list-style:none;
	display: inline-block;
	margin:0;
	padding:0;
}

@media screen and (max-width: 725px) {
	#presets ul { 
  	display: block;     
  }
}

#presets ul a,
#presets .label
{
	color:#666;
	text-decoration:none;
	font-size:10px;
	padding:0 7px;
}

#presets ul li
{
	display:inline-block;
	margin:0;
	padding:0;
}

#presets .fa
{
	color: #333;
	padding-left:10px;
}

#presets ul li a:hover
{
	background:#f6f6f6
}

/** Map Controls ========================================== */

body.thumb-drag {
	cursor: e-resize;
}

#map-controls {
	font-size: 10px;
	width: 100%;
}

#map-controls.collapsed {
	margin-top: -55px;
}

#map-controls svg {
	background: white;
	width: 100%;
}

.buttons {
	text-align: center;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

path.area#active-area {
  fill: #eee;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #bbb;
}

.x.axis path {
  display: none;
}

.x.axis text {
	fill: #666;
}

.y.axis path {
  fill: none;
  stroke: none;
}

.y.axis line {
  stroke: #bbb;
  stroke-dasharray: 1,3;
}

.y.axis text {
	fill: #666;
}

.bar {
  fill: #888;
}

.bar.select {
  fill: steelblue;
}

.bar.highlight {
  fill: rgb(250, 35, 241);
}

.selection {
	cursor: move;
	fill: #ccc;
	opacity: 0.2;
}

.marker .guideline {
	stroke: black;
	stroke-width: 0.5px;
}

.marker.drag .guideline {
	stroke: black;
}

.slider-thumb {
	background-color: #888;
	color: white;
	cursor: e-resize;
	height: 20px;
	width: 40px;
	margin-top: -22px;
	padding: 0;
	position: absolute;
	text-align: center;
	z-index: 0;
}

.slider-thumb .date {
	line-height: 20px;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.slider.drag .slider-thumb, .slider-thumb:hover {
	background-color: rgb(93, 92, 93);
}

.slider.drag .v-tooltip, .slider:hover .v-tooltip {
	opacity: 1;
}

.slider.range-end .slider-thumb {
	margin-left: 0;
}

.slider.range-start .slider-thumb {
	margin-left: -40px;
}

.slider .slider-thumb:before {
	position: absolute;
	display: block;
	content: "";
	border-style: solid;
	height: 0;
	width: 0;
	top: 20px;
}

.slider.range-end .slider-thumb:before {
	border-color: #888 transparent transparent transparent;
	border-width: 15px 40px 0 0;
	right: 0px;
}

.slider.range-end  .slider-thumb:hover:before, .slider.range-end.drag .slider-thumb:before {
	border-color: rgb(93, 92, 93) transparent transparent transparent;
}

.slider.range-start .slider-thumb:before {
	border-color: transparent #888 transparent transparent;
	border-width: 0 40px 15px 0;
	right: 0px;
}

.slider.range-start	 .slider-thumb:hover:before, .slider.range-start.drag .slider-thumb:before {
	border-color: transparent rgb(93, 92, 93) transparent transparent;
}

/* === Instructions === */

#instructions
{
	margin: 15px 30px 25px 38px;
	clear: both;
	color:#666;
	font-size:10px;
}














